<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cat & Mouse</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .hidden {
                visibility: hidden;
            }

            .canvas {
                border-width: 2px;
                border-color: black;
                border-style: outset;
            }

            body {
                justify-content: center;
                background-color:cadetblue;
            }

            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <p>Cat Speed: <strong id="cat-speed-display">2</strong></p>
        <a href="/">Back to Home</a>
        <section id="gameover" class="hidden">
            <h1>Game Over</h1>
        </section>
        <canvas id="c" class="canvas" width="600px" height="600px">
            Your browser does not support canvas.
        </canvas>
        <div class="hidden">
            <img id="cat" src="../static/cat.png" alt="cat">
        </div>
    </body>
    <script>
        const canvas = document.getElementById("c");
        const ctx = canvas.getContext("2d");

        const cat = document.getElementById("cat");

        let mouseX = 0;
        let mouseY = 0;

        let catX = 100;
        let catY = 100;
        let catSpeed = 2;

        var speedDisplay = document.getElementById("cat-speed-display");

        canvas.addEventListener("mousemove", (event) => {
            const rect = canvas.getBoundingClientRect();
            mouseX = event.clientX - rect.left;
            mouseY = event.clientY - rect.top;
        });

        function moveCatTowardMouse() {
            const dx = mouseX - catX;
            const dy = mouseY - catY;
            const distance = Math.sqrt(dx * dx + dy * dy);

            if (distance > 1) {
                catX += (dx / distance) * catSpeed;
                catY += (dy / distance) * catSpeed;
            }
        }

        function updateSpeed() {
            catSpeed += 0.001;
            speedDisplay.innerText = catSpeed;
        }

        ctx.fillStyle = "white";

        let running = true;

        cat.addEventListener("mouseover", () => {
            running = false;
        });

        function loop() {
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            moveCatTowardMouse();
            ctx.drawImage(cat, catX, catY, 20, 20);
            updateSpeed();
            if (running) {
                requestAnimationFrame(loop);
            } else {
                getElementById("gameover").class = "";
            }
        }

        cat.addEventListener("load", loop);
        if (cat.complete) {
            loop();
        }
    </script>
</html>