<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QuoteBase</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A simple quote database web application.">
        <meta name="keywords" content="quotes, database, web application">
        <meta name="author" content="Wyatt Whitaker">
    </head>
    <body>
        <h1>QuoteBase</h1>
        <p>Welcome to QuoteBase! Click on the below links to explore the quotes.</p>
        <ul>
            <li><a href="/quotes">View Quotes</a></li>
            <li><a href="/add-quote-template">Add a Quote</a></li>
        </ul>
    </body>
</html>
